<?xml version="1.0"?>
<launch>
<group ns="oarbot_silver">
	<machine name="oarbot_silver-NUC" address="192.168.1.101" env-loader="/home/oarbot_silver/catkin_ws/scripts/env_oarbot_silver.sh" user="oarbot_silver" password="1234" default="true"/>

	<node name="sensor_fusion" pkg="sensor_fusion" type="sensor_fusion.py">
		<rosparam file="$(find swarm_launch)/config/oarbot_silver_sensor_fusion.yaml"/>
	</node>

	<node name="uwb_front" pkg="uwb_reader" type="uwb_reader.py">
		<rosparam file="$(find swarm_launch)/config/oarbot_silver_uwb_front.yaml"/>
	</node>
	<node name="uwb_back" pkg="uwb_reader" type="uwb_reader.py">
		<rosparam file="$(find swarm_launch)/config/oarbot_silver_uwb_back.yaml"/>
	</node>


	<node name="ctrl_inv_kin" pkg="oarbot_control" type="inv_kin.py">
		<rosparam file="$(find swarm_launch)/config/oarbot_silver_control_info.yaml"/>
	</node>
	<node name="ctrl_motor" pkg="oarbot_control" type="motor_control.py">
		<rosparam file="$(find swarm_launch)/config/oarbot_silver_control_info.yaml"/>
	</node>
	<node name="ctrl_fwd_kin" pkg="oarbot_control" type="fwd_kin.py">
		<rosparam file="$(find swarm_launch)/config/oarbot_silver_control_info.yaml"/>
	</node>


	<node name="cl_state" pkg="vel_controller" type="vel_controller.py">
		<rosparam file="$(find swarm_launch)/config/oarbot_silver_cl_state.yaml"/>
	</node>

	<node pkg="twist_mux" type="twist_mux" name="twist_mux">
    	<rosparam command="load" file="$(find swarm_launch)/config/oarbot_silver_twist_mux.yaml" />
    	<remap from="cmd_vel_out" to="e_stop_cmd_vel"/>
  	</node>
</group> 
</launch>