<?xml version="1.0"?>
<launch>
  <group>
	  <machine name="oarbot_silver-NUC" address="192.168.1.101" env-loader="/home/oarbot_silver/catkin_ws/scripts/env_oarbot_silver.sh" user="oarbot_silver" password="1234"/>
	  <node machine="oarbot_silver-NUC" name="sensor_fusion_oarbot_silver" pkg="sensor_fusion" type="sensor_fusion.py">
	    <rosparam file="$(find swarm_launch)/config/oarbot_silver_sensor_fusion.yaml"/>
	  </node>
	  <node machine="oarbot_silver-NUC" name="uwb_front_oarbot_silver" pkg="uwb_reader" type="uwb_reader.py">
	    <rosparam file="$(find swarm_launch)/config/oarbot_silver_uwb_front.yaml"/>
	  </node>
	  <node machine="oarbot_silver-NUC" name="uwb_back_oarbot_silver" pkg="uwb_reader" type="uwb_reader.py">
	    <rosparam file="$(find swarm_launch)/config/oarbot_silver_uwb_back.yaml"/>
	  </node>
	  <node machine="oarbot_silver-NUC" name="oarbot_silver_ctrl" pkg="oarbot_control" type="oarbot_control.py">
	    <rosparam file="$(find swarm_launch)/config/oarbot_silver_control_info.yaml"/>
	  </node>
	  <node machine="oarbot_silver-NUC" name="oarbot_silver_cl_state" pkg="vel_controller" type="vel_controller.py">
	    <rosparam file="$(find swarm_launch)/config/oarbot_silver_cl_state.yaml"/>
	  </node>
	</group> 

<group>
	  <machine name="oarbot_blue-NUC" address="192.168.1.102" env-loader="/home/oarbot_blue/catkin_ws/scripts/env_oarbot_blue.sh" user="oarbot_blue" password="1234"/>
	  <node machine="oarbot_blue-NUC" name="sensor_fusion_oarbot_blue" pkg="sensor_fusion" type="sensor_fusion.py">
	    <rosparam file="$(find swarm_launch)/config/oarbot_blue_sensor_fusion.yaml"/>
	  </node>
	  <node machine="oarbot_blue-NUC" name="uwb_front_oarbot_blue" pkg="uwb_reader" type="uwb_reader.py">
	    <rosparam file="$(find swarm_launch)/config/oarbot_blue_uwb_front.yaml"/>
	  </node>
	  <node machine="oarbot_blue-NUC" name="uwb_back_oarbot_blue" pkg="uwb_reader" type="uwb_reader.py">
	    <rosparam file="$(find swarm_launch)/config/oarbot_blue_uwb_back.yaml"/>
	  </node>
	  <node machine="oarbot_blue-NUC" name="oarbot_blue_ctrl" pkg="oarbot_control" type="oarbot_control.py">
	    <rosparam file="$(find swarm_launch)/config/oarbot_blue_control_info.yaml"/>
	  </node>
	  <node machine="oarbot_blue-NUC" name="oarbot_blue_cl_state" pkg="vel_controller" type="vel_controller.py">
	    <rosparam file="$(find swarm_launch)/config/oarbot_blue_cl_state.yaml"/>
	  </node>
	</group>

</launch>