<?xml version="1.0"?>
<launch>
<!-- <group ns="ridgeback"> -->
    <!-- <machine name="ridgeback" address="192.168.1.103" env-loader="/home/administrator/catkin_ws/scripts/env_ridgeback.sh" user="administrator" password="clearpath" default="true"/> -->

    <node name="keyboard_rf_welding" pkg="swarm_control" type="keyboard_rf_welding.py">
        <rosparam file="$(find swarm_launch)/config/keyboard_rf_welding.yaml"/>
    </node>

<!--     <node name="state_machine_rf_welding" pkg="swarm_control" type="state_machine_rf_welding.py">
        <rosparam file="$(find swarm_launch)/config/state_machine_rf_welding.yaml"/>
    </node> -->

    <node name="robot_sim" pkg="swarm_control" type="robot_sim.py">
<rosparam>
state_command_topic_names:
  - "oarbot_silver/desired_state"
  - "oarbot_blue/desired_state"
  - "ridgeback/desired_state"
  - "husky_black/desired_state"
  - "husky_blue/desired_state"
tf_frame_names:
  - "oarbot_silver_fusion"
  - "oarbot_blue_fusion"
  - "ridgeback_fusion"
  - "husky_black_tt"
  - "husky_blue_tt"
</rosparam>
    </node>
<!-- </group> -->
</launch>