<?xml version="1.0"?>
<launch>
<group>
    <machine name="ridgeback" address="192.168.1.103" env-loader="/home/administrator/catkin_ws/scripts/env_ridgeback.sh" user="administrator" password="clearpath" default="true"/>

    <node name="sensor_fusion_ridgeback" pkg="sensor_fusion" type="sensor_fusion.py">
        <rosparam file="$(find swarm_launch)/config/ridgeback_sensor_fusion.yaml"/>
    </node>

    <node name="uwb_front_ridgeback" pkg="uwb_reader" type="uwb_reader.py">
        <rosparam file="$(find swarm_launch)/config/ridgeback_uwb_front.yaml"/>
    </node>
    <node name="uwb_back_ridgeback" pkg="uwb_reader" type="uwb_reader.py">
        <rosparam file="$(find swarm_launch)/config/ridgeback_uwb_back.yaml"/>
    </node>

    <node name="ridgeback_cl_state" pkg="vel_controller" type="vel_controller.py">
        <rosparam file="$(find swarm_launch)/config/ridgeback_cl_state.yaml"/>
    </node>
</group>
</launch>