<?xml version="1.0"?>
<launch>
<group ns="tablet">
    <machine name="tablet" address="192.168.1.99" env-loader="/home/tablet/catkin_ws/scripts/env_tablet.sh" user="tablet" password="1234" default="true"/>

    <node type="rviz" name="rviz" pkg="rviz" args="-d /home/tablet/catkin_ws/src/swarm_launch/launch/config.rviz"/>

    <node name="arduino_reader" pkg="arduino_talker" type="arduino_read.py">
        <rosparam file="$(find swarm_launch)/config/arduino_params.yaml"/>
    </node>  
    <include file="$(find spacenav_node)/launch/classic.launch"/>

    <node pkg="twist_mux" type="twist_mux" name="twist_mux">
        <rosparam command="load" file="$(find swarm_launch)/config/tablet_twist_mux.yaml" />
        <remap from="cmd_vel_out" to="deadman_switch_spacenav_twist"/>
    </node>

    <rosparam command="load" file="$(find swarm_launch)/config/gui_params.yaml"/>
    <node name="swarm_gui" pkg="swarm_gui" type="swarm_gui_user_py3.py"/>
</group>
</launch>